.hero-section {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-card{
    margin: 100px 46px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}

.hero-card:hover{
    filter: drop-shadow(0px 4px 15px #FFF);
}

.hero-image{
    max-width: 700px;
    border-radius: 20px 0 0 20px;
}

.hero-image-h{
    display: none;
}

.hero-content{
    display: block;
    padding-right: 32px;
}

.hero-content h1 {
    font-size: 28px;
    margin-top: 52px;
}

.hero-content p{
    color: #656565;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.hero-content .console-tag {
    display: flex;
    align-items: center;
    gap: 2px;
}

.hero-content .console-tag span {
    color: #717171;
    font-size: 12px;
}

.hero-content .btn {
    background: #F9A7A7;
    color: #000000;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 200px;
}

.hero-content .btn:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1080px){
    .hero-card{
        display: flex;
        flex-direction: column;
        gap: 0;
        filter: drop-shadow(0px 4px 15px #FFF);
    }

    .hero-image{
        display: none;
    }
    .hero-image-h{
        display: block;
        max-width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .hero-content{
        padding: 0 32px 0 32px;
    }

    .hero-content h1{
        margin-top: 20px;
    }

    .hero-content .console-tag{
        margin-bottom: 30px;
    }

}

/* Important Information Section */

.info-section{
    background-color: #282828;
    margin-bottom: 100px;
}

.info-area {
    max-width: 1280px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
}

@media (max-width: 1080px) {
    .info-area {
        height: fit-content;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 50px 10px;
    }
}

.info-item{
    max-width: 100%;
    display: flex;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info h3 {
    font-size: 16px;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;

}

.info span {
    font-size: 12px;
    font-style: italic;
    color: #ffffff;

}

/* About Us Section */

.about-us{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 10px;
    margin-bottom: 100px;
}

.about-us-content img {
    max-width: 436px;
    padding: 0 10px;
}

.about-us-content p{
    max-width: 756px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.8px;
}

.about-us-content span {
    color: #4671C6;
}

@media (max-width: 500px) {

    .about-us-content img{
        max-width: 100%;
    } 

    .about-us-content p{
        max-width: 100%;
    }
}


/* Categories Section */

.categories-section{
    max-width: 1280px;
    margin: 0 auto 150px auto;
    padding: 0 10px;
}

.nav-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.nav-category h3 {
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 2px solid #4671C6;

}

.btn2 {
    font-size: 14px;
    color: #ffffff;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #4671C6;
    background: rgba(70, 113, 198, 0.14);
}

.categories {
    display: flex;
    gap: 46px;
    justify-content: space-around;
    flex-wrap: wrap;

}
.category-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #ffffff;
}
.category-item img {
    max-width: 250px;
    border-radius: 100%;
}


@media (max-width: 562px) {

    .nav-category {
        justify-content: center;
    }

    .nav-category a{
        display: none;
    }

    .categories {
        justify-content: center;
        flex-direction: column;
        gap: 60px;
    }

    .category-item img {
        max-width: 200px;
    }
}


/* Games Section */

.games-section{
    max-width: 1280px;
    margin: 0 auto 150px auto;
    padding: 0 10px;
}

.game-card{
    max-width:286px;
    background-color: #ffffff;
}

.game-card img {
    max-width: 246px;
}
