.hero-section {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-card{
    margin: 100px 46px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}

.hero-card:hover{
    filter: drop-shadow(0px 4px 15px #FFF);
}

.hero-image{
    max-width: 700px;
    border-radius: 20px 0 0 20px;
}

.hero-image-h{
    display: none;
}

.hero-content{
    display: block;
    padding-right: 32px;
}

.hero-content h1 {
    font-size: 28px;
    margin-top: 52px;
}

.hero-content p{
    color: #656565;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.hero-content .console-tag {
    display: flex;
    align-items: center;
    gap: 2px;
}

.hero-content .console-tag span {
    color: #717171;
    font-size: 12px;
}

.hero-content .btn {
    background: #F9A7A7;
    color: #000000;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 200px;
}

.hero-content .btn:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1080px){
    .hero-card{
        display: flex;
        flex-direction: column;
        gap: 0;
        filter: drop-shadow(0px 4px 15px #FFF);
    }

    .hero-image{
        display: none;
    }
    .hero-image-h{
        display: block;
        max-width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .hero-content{
        padding: 0 32px 0 32px;
    }

    .hero-content h1{
        margin-top: 20px;
    }

    .hero-content .console-tag{
        margin-bottom: 30px;
    }

}

/* Important Information Section */

.info-section{
    background-color: #282828;
    margin-bottom: 100px;
}

.info-area {
    max-width: 1280px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
}

@media (max-width: 1080px) {
    .info-area {
        height: fit-content;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 50px 10px;
    }
}

@media (max-width: 651px) {
    .info-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
}

.info-item{
    max-width: 100%;
    display: flex;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.info h3 {
    font-size: 16px;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;

}

.info span {
    font-size: 12px;
    font-style: italic;
    color: #ffffff;

}

/* About Us Section */

.about-us{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 10px;
    margin-bottom: 100px;
}

.about-us-content img {
    max-width: 436px;
    padding: 0 10px;
}

.about-us-content p{
    max-width: 756px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.8px;
}

.about-us-content span {
    color: #4671C6;
}

@media (max-width: 500px) {

    .about-us-content img{
        max-width: 100%;
    } 

    .about-us-content p{
        max-width: 100%;
    }
}


/* Categories Section */

.categories-section{
    max-width: 1280px;
    margin: 0 auto 150px auto;
    padding: 0 10px;
}

.nav-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.nav-category h3 {
    color: var(--text-primary);
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 2px solid #4671C6;

}

.btn2 {
    font-size: 14px;
    color: #ffffff;
    padding: 8px 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #4671C6;
    background: rgba(70, 113, 198, 0.14);
}

.categories {
    display: flex;
    gap: 46px;
    justify-content: space-around;
    flex-wrap: wrap;

}
.category-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #ffffff;
}
.category-item img {
    max-width: 250px;
    border-radius: 100%;
}


@media (max-width: 562px) {

    .nav-category {
        justify-content: center;
    }

    .nav-category a{
        display: none;
    }

    .categories {
        justify-content: center;
        flex-direction: column;
        gap: 60px;
    }

    .category-item img {
        max-width: 200px;
    }
}


/* Games Section */

.games-section{
    max-width: 1280px;
    margin: 0 auto 150px auto;
    padding: 0 10px;
}

.games-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.game-card {
    width: 260px;
    height: auto;
    background-color: #ffffff;
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    box-shadow: inset 0 38px #181818;
    
}

.game-card > img {
    display: block;
    width: 100%;
    border-radius: 8px;

}

.info-container {
    margin-top: 16px;
}

.info-container h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.console-tag {
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.price span {
    font-size: 18px;
    font-weight: bold;
    color: #00349B;
}

@media (max-width: 840px) {
    .games-list{
        justify-content: center;
        gap: 40px;
    }
}

/* Formulário */

.contact-section {
    max-width: 1280px;
    margin: 0 auto 150px auto;
    padding: 0 10px;
}

.contact-bg{
    max-width: 100%;
    min-height: 649px;
    background-color: #000000;
    background-image: url('../img/avatar.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    border-radius: 10px;

}

.contact-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: auto;
    padding-top: 35px;
    padding-right: 100px;
}

.contact-info h3 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 24px;
}

.contact-info form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contact-info form input,
.contact-info form textarea {
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 1px #00000056;

    font-family: 'Poppins';
    font-size: 14px;
    color: #051a44;
}

.contact-info form textarea{
    max-width: 360px;
    height: 195px;
}

.contact-info form input::placeholder, .contact-info form textarea::placeholder{
    font-family: 'poppins';
    font-size: 14px;
    color: #4671C6;
}

.contact-info .btn {
    background-color: #4671C6;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-info .btn:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(41,75,142,1) 36%, rgba(70,113,198,1) 100%);
}

@media (max-width: 840px) {
    .contact-bg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    border-top: solid 1px #656565;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 76px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 150px;

}


.footer-container h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 28px;
}

.footer-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-container ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.footer-container ul li img{
    margin-right: 10px;
}

.footer-container .footer-pagamento img {
    max-width: 100px;
}

footer > p {
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: #ffffff;
    padding: 10px;
}


@media (max-width: 735px) {

    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
}