.hero-section {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-card{
    margin: 100px 46px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}

.hero-card:hover{
    filter: drop-shadow(0px 4px 15px #FFF);
}

.hero-image{
    max-width: 700px;
    border-radius: 20px 0 0 20px;
}

.hero-image-h{
    display: none;
}

.hero-content{
    display: block;
    padding-right: 32px;
}

.hero-content h1 {
    font-size: 28px;
    margin-top: 52px;
}

.hero-content p{
    color: #656565;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.hero-content .console-tag {
    display: flex;
    align-items: center;
    gap: 2px;
}

.hero-content .console-tag span {
    color: #717171;
    font-size: 12px;
}

.hero-content .btn {
    background: #F9A7A7;
    color: #000000;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 200px;
}

.hero-content .btn:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1080px){
    .hero-card{
        display: flex;
        flex-direction: column;
        gap: 0;
        filter: drop-shadow(0px 4px 15px #FFF);
    }

    .hero-image{
        display: none;
    }
    .hero-image-h{
        display: block;
        max-width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .hero-content{
        padding: 0 32px 0 32px;
    }

    .hero-content h1{
        margin-top: 20px;
    }

    .hero-content .console-tag{
        margin-bottom: 30px;
    }


}